<% @command_groups.each do |command_group| %>
  <h3><%= link_to command_group.title, command_group_url(command_group) %></h3>
  <td><%= link_to 'Edit', edit_command_group_path(command_group), class:"btn" %></td>
  <%= form_for command_group , action: :delete, method: :delete, html:{style:"display: inline"} do %>
    <%= submit_tag :delete, class: "btn" %>
  <% end %>
  <br/><br/>
  <pre>
  <% command_group.commands.each do |command| %>
    <%= command.content -%>
  <% end %>
  </pre>
<% end %>
