<% @command_groups.each do |command_group| %>
    <h3 style=""><%= link_to command_group.title, command_group %></h3>
    create : <%= command_group.created_at.to_s(:simple) %>
    <% if false %>
      <%= link_to 'Edit', edit_command_group_path(command_group), class:"btn" %>
      <%= form_for command_group , action: :delete, method: :delete, html:{style:"display: inline"} do %>
        <%= submit_tag :delete, class: "btn" %>
      <% end %>
    <% end %>
  <pre>
  <%= command_group.command_summary -%>
  </pre>
<% end %>
