<% @command_groups.each do |command_group| %>
  <div class="box">
    <div class="left"><%= link_to command_group.title, command_group %></div>
    <div class="right">
      <%= icon_link_to :edit,  edit_command_group_url(command_group) %>
      <%= icon_link_to :trash, delete_command_group_url(command_group) %>
      <%= icon(:time) {command_group.created_at.to_s(:simple)}%>
    </div>
  </div>
  <br/>
  <pre>
  <%= command_group.command_summary -%>
  </pre>
<% end %>
