<!--
 アイコン、ボタン、フォーム 
 http://blog.asial.co.jp/887
 お勉強
 http://dotinstall.com/lessons/basic_twitter_bootstrap_v2 
 -->
<h3><%= @command_group.title %></h3>
<%= link_to("edit",edit_command_group_url(@command_group)) %>
<br/>

<% @command_group.command_replaces.each do |command_replace| %>
  <span style='color:blue'><span name='from_content'><%= command_replace.from_content %></span>:<%= text_field_tag "", command_replace.to_content, 
                                                                  :name=>'to_content',:id=>"command_replace_#{command_replace.id}", :onChange => "replace_contents();", :onKeyUP => "replace_contents();" %><br/></span>
<% end %>

<br/>
<div style='text-align:right'>
 <a><i class='icon-edit icon-white'></i>all copy</a>
</div>
<pre style="font-size:15px; font-family: 'Andale Mono', monospace">
<% @command_group.commands.each do |command| -%>
  <%= content_tag(:span,  command.content, :name => :commands, :class => :command_class, :id => "command_#{command.id}") -%> <%= copy_icon %>
<% end %>
</pre>
<div style='display:none'>
  <% @command_group.commands.each do |command| -%>
  <%= content_tag(:div, command.content, :name => :original_commands, :id => "original_command_#{command.id}") -%><br/>
  <% end %>
</div>
<% content_for :after_application_js_load do -%>

<%= javascript_include_tag "jquery.zclip" %>
<script>
  function replace_contents()
  {
    original_commands = $("*[name=original_commands]");
    from_contents     = $("*[name=from_content]");
    to_contents       = $("*[name=to_content]");

    // # 全ての文字変換を反映
    // # hidden_command_-オリジナルのcommand
    // # from_contentからto_contentへの変換を全体にかける
    $.each(original_commands, function(org_idx, org_elem) {
        content = $(org_elem).html()
        $.each(from_contents, function(from_idx, from_elem) {
          from_content = $(from_elem).html()
          to_content   = $(to_contents[from_idx]).val()
          content      = content.replace(from_content, to_content);
        });

        command = $("*[name=commands]")[org_idx];
        $(command).text(content);
        set_zclip(command);
    })
  }
  function set_zclip(element)
  {
      $(element).zclip({
        path:'/swf/ZeroClipboard.swf',
        copy:$(element).text(),
        beforeCopy:function(){
          $(element).css('background','white');
          $(element).css('color','lightgray');
        },
        afterCopy:function(){
          $(element).css('background','lightgrey');
          $(element).css('color','darkgray');
        }
      });
  }
  $(document).ready(function(){
    replace_contents()
    $(".command_class").each(function(){
      set_zclip(this);
    });
 });
</script>
<% end -%>
